

<div class="container">

  
  <div class="row flow-text"">
    <div class="col s6 offset-s3">
      <div class="form-group center-align">
        <h2 class="center-align">Add a Burger</h2>
        <form class="create-update-form" action="/" method="POST">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="burger_name">
            <button class="waves-effect waves-light hoverable brown lighten-4 btn" type="submit">Add Burger</button>
        </form>
      </div> 
     </div> 
  </div>  


  <div class="row flow-text"">

    <div id ="results" class="center-align"> 
      <div class="col s6" id="live">
        <h3>Delicious UnDevoured Burgers</h3>
        {{#each burgers}}
       
        <div class="center-align">
            {{#unless this.devoured}}
            <h4>
            {{this.id}}<span>.</span>
            {{this.burger_name}}
              <form action="/devoured/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button class="waves-effect waves-light hoverable brown lighten-4 btn" type="submit">Devour Me!</button>
              </form>
            </h4> 
            {{/unless}} 
          </div>
       
        {{/each}}  
       </div>
    <div class="col s6" id="eaten">  
      <h3>Delicious Eaten </br> Burgers</h3> 
      {{#each burgers}}
       <div class="center-align">
          {{#if this.devoured}}
          <h4>
          {{this.id}}<span>.</span>
          {{this.burger_name}}
          <form action="/eaten/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button class="waves-effect waves-light hoverable brown lighten-4 btn" type="submit">Throw Up!</button>
            </form>
          </h4> 
          {{/if}}
        </div>  
      {{/each}} 
     </div>  
   </div> 

  </div>
</div>